# Homework 1 Assignment

1. How many passengers are in our passenger list? From here forward, we'll assume our dataset represents the full passenger list for the Titanic.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

data = pd.read_csv("https://raw.githubusercontent.com/ga-students/DS-SF-24/master/HW%20Assignments/HW1/titanic.csv")

data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [2]:
len(data)

891

2 What is the overall survival rate?

In [3]:
data.Survived.mean()

0.3838383838383838

3 How many male passengers were onboard?

In [4]:
data.groupby('Sex').count()['PassengerId'][1]

577

4 How many female passengers were onboard?

In [5]:
data.groupby('Sex').count()['PassengerId'][0]

314

5 What is the overall survival rate of male passengers?

In [6]:
data.groupby(['Sex', 'Survived']).count()

                 PassengerId  Pclass  Name  Age  SibSp  Parch  Ticket  Fare  \
Sex    Survived
female 0                  81      81    81   64     81     81      81    81
       1                 233     233   233  197    233    233     233   233
male   0                 468     468   468  360    468    468     468   468
       1                 109     109   109   93    109    109     109   109

                 Cabin  Embarked
Sex    Survived
female 0             6        81
       1            91       231
male   0            62       468
       1            45       109

In [7]:
data.groupby(['Sex', 'Survived']).count()['PassengerId'][3]*1.0 / ((data.groupby(['Sex', 'Survived']).count()['PassengerId'][2])+
                                                                   (data.groupby(['Sex', 'Survived']).count()['PassengerId'][3])*1)

#I recognize that this is a hideously long amount of code to get to this (probably incredibly straightforward) answer. 
#I'm expecting to suck less once I get more comfortable with Python.

0.18890814558058924

6 What is the overall survival rate of female passengers?

In [8]:
data.groupby(['Sex', 'Survived']).count()['PassengerId'][1]*1.0 / ((data.groupby(['Sex', 'Survived']).count()['PassengerId'][0])+
                                                                   (data.groupby(['Sex', 'Survived']).count()['PassengerId'][1])*1)

0.7420382165605095

7 What is the average age of all passengers onboard?

How did you calculate this average age?

Note that some of the passengers do not have an age value. How did you deal with this?  

What are some other ways of dealing with this?

In [9]:
#drop all rows with blank age; give this dataframe a new 
#variable name

data2 = data.dropna(inplace = False)

data2.Age.mean()

35.6744262295082

To calculate this average age, I dropped all the cells where Age was blank, and then took the mean of the remaining ages. I've seen people replace a few blanks with the mean of the remaining data, but with so many blanks in this column, I think the only reasonable thing to do is work with the data you actually have.

8 What is the average age of passengers who survived?

In [10]:
data.groupby(['Survived']).mean()['Age'][1]

28.343689655172415

9 What is the average age of passengers who did not survive?

In [11]:
data.groupby(['Survived']).mean()['Age'][0]

30.626179245283019

10 At this (early) point in our analysis, what might you infer about any patterns you are seeing?

It seems like both age and gender played a significant role in whether or not an individual survived. Given the context (a time when "Women and children first" was actually a thing), it's not entirely surprising to see this in our preliminary results.

11 How many passengers are in each of the three classes of service (e.g. First, Second, Third)?

In [12]:
#data.groupby(['Pclass'])#.count()

print ('There were %f passengers in first class' %data.groupby('Pclass').count()['PassengerId'][1])
print ('There were %f passengers in second class' %data.groupby('Pclass').count()['PassengerId'][2])
print ('There were %f passenters in third class' %data.groupby('Pclass').count()['PassengerId'][3])

There were 216.000000 passengers in first class
There were 184.000000 passengers in second class
There were 491.000000 passenters in third class

12 What is the survival rate for passengers in each of the three classes of service?

In [33]:
#data.groupby(['Pclass', 'Survived']).count()

#dataframe that isolates Pclass 1
data3 = data.drop(data[data.Pclass > 1].index, inplace = False) 

#dataframe that isolates Pclass 3
data4 = data.drop(data[data.Pclass < 3].index, inplace = False)

#not sure how to isolate Pclass 2... my unsuccessful attempt is below
#data5 = data.drop(data[data.Pclass >2 and data.Pclass <2].index, inplace = False)

print "The survival rate of passengers in first class was %f" %data3.Survived.mean()
print "The survival rate of passengers in third class was %f" %data4.Survived.mean()

The survival rate of passengers in first class was 0.629630
The survival rate of passengers in third class was 0.242363

13 What else might you conclude?

It looks like passenger class had a significant impact on one's survival rate. The majority of first class passengers survived, while the majority of third class passengers did not.

14 Last, if we were to build a predictive model, which features in the data do you think we should include in the model and which can we leave out? Why?

I think a predictive model that took into account sex, age, and pclass would be quite useful in determining who survived and who did not.

15 Bonus - Use visualization techniques for few variables of interest